In [3]:
# try my first python output
print('hello,python!')

hello,python!

In [7]:
# chechk the python version
import sys
print(sys.version)

3.10.6 (main, Oct 24 2022, 16:07:47) [GCC 11.2.0]

In [8]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [9]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

In [10]:
# Try to see built-in error message

print("Hello, Python!)

SyntaxError: unterminated string literal (detected at line 3) (3628399183.py, line 3)

In [11]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [12]:
print('hello world') #print the traditional hello world

hello world

In [13]:
# Integer

11

11

In [14]:
# Float

2.14

2.14

In [15]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [16]:
# Type of 12

type(12)

int

In [17]:
# Type of 2.14

type(2.14)

float

In [18]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [19]:
# Type of 12.0

type(12.0)

float

In [22]:
# Print the type of -1

type(-1)

int

In [23]:
# Print the type of 4

type(4)

int

In [24]:
# Print the type of 0

type(0)

int

In [28]:
# checking the info of float

import sys
print(sys.float_info)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [29]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [30]:
# Print the type of 0.5

type(0.5)

float

In [31]:
# Print the type of 0.56

type(0.56)

float

In [36]:
# System settings about int type

import sys
print(sys.int_info)

sys.int_info(bits_per_digit=30, sizeof_digit=4)

In [37]:
# System settings about float type

import sys
print(sys.float_info)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

# *Converting from one object type to a different object type (type casting)*

In [39]:
# Verify that this is an integer

type(2)

int

In [40]:
#Converting integers to floats
#Let's cast integer 2 to float:
# Convert 2 to a float

float(2)

2.0

In [41]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [42]:
#When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1):
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [43]:
#Converting from strings to integers or floats
#Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using int():
# Convert a string into an integer

int('1')

1

In [44]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [45]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [46]:
# Convert an integer to a string

str(1)

'1'

In [47]:
# Convert a float to a string

str(1.2)

'1.2'

In [48]:
# Value true

True

True

In [49]:
# Value false

False

False

In [50]:
# Type of True

type(True)

bool

In [51]:
# Type of False

type(False)

bool

In [52]:
# Convert True to int

int(True)

1

In [53]:
# Convert 1 to boolean

bool(1)

True

In [54]:
# Convert 0 to boolean

bool(0)

False

In [55]:
# Convert True to float

float(True)

1.0

In [60]:
print(6/2)
type(6/2)

3.0

float

In [61]:
print(6//2)
type(6//2)

3

int

In [62]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [63]:
# Subtraction operation expression

50 - 60

-10

In [64]:
# Multiplication operation expression

5 * 5

25

In [65]:
# Division operation expression

25 / 5

5.0

In [66]:
# Division operation expression

25 / 6

4.166666666666667

In [67]:
# Integer division operation expression

25 // 5

5

In [68]:
# Integer division operation expression

25 // 6

4

In [69]:
# 160 min to hr

160/60

2.6666666666666665

In [70]:
# Mathematical expression

30 + 2 * 60

150

In [71]:
# Mathematical expression

(30 + 2) * 60

1920

# Variables

In [73]:
# Store value into variable

x = 43 + 60 + 16 + 41
# Print out the value in variable

x

160

In [74]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [75]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [76]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [77]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [78]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [79]:
x = 3 + 2 * 2
x

7

In [80]:
y = (3 + 2) * 2
y

10

In [81]:
z = x + y
z

17

In [1]:
name= "Michael Jackson"
name[::2]

'McalJcsn'

In [2]:
name= "Michael Jackson"
name[:5:2]

'Mca'

In [3]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [4]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [5]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [6]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [8]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [9]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [10]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [11]:
# Find the substring in the string.

name.find('Jack')

8

In [12]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

In [13]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In [14]:
# Write your code below and press Shift+Enter to execute
g.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [15]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [16]:
# Print the elements on each index

L = ["Michael Jackson", 10.1, 1982]
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [17]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [18]:
# List slicing

L[3:5]

['MJ', 1]

In [19]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [20]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [21]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [22]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [23]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [24]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [25]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [26]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [27]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [30]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [31]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [32]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [33]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [34]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [38]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [36]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [37]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

In [39]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [40]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [41]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [42]:
len(tuple2)

5

In [45]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [44]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [46]:
type(RatingsSorted)

list

In [47]:
# Write your code below and press Shift+Enter to execute
C_tuple=(-5, 1, -3)
c=sorted(C_tuple)
c

[-5, -3, 1]